:root {
    --main-bg-color: #000;
    --main-text-color: #fff; 
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

body {
    background-color: var(--main-bg-color); 
    color: var(--main-text-color); 
    margin: 0; 
    padding: 0; 
}

.primary-text {
    color: var(--main-bg-color);
}

.second-text {
    color: var(--second-bg-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
    margin-right: 10px; 
    
    
}

.list-group-item {
    border: none;
    padding: 20px 20px;
}

.list-group-item.active {
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border: none;
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
